:root {
    --color-dark-gold: #8f6000;
}

* {
    font-family: bahnschrift, arial;
    margin: 0;
    box-sizing: border-box;
    font-weight: lighter;
}

button:hover {
	cursor: pointer;
}

header {
    /*position: fixed;*/
    z-index: 95;
}

    header > #primary-header {
        background-color: black;
        color: white;
        padding: 0.2rem 1rem;
        height: 3rem;
        display: flex;
        z-index: 99;
        align-items: center;
        background-image: url("/images/Plan-It-gradient.png");
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: unset;
    }

    header > #secondary-header {
        border-image: url("/images/Plan-It-gradient.png") 10 repeat;
        border-bottom: 10px gold solid;
    }

        header > #secondary-header > #header-links {
            box-shadow: 0 0 10px black;
            display: flex;
            flex-direction: row-reverse;
            padding: 0.2rem 1rem;
            flex-wrap: wrap;
        }

            :is(header, footer) a {
                text-decoration: none;
                padding-inline: 0.5rem;
                color: black;
                background: -webkit-linear-gradient(0deg, black, black 50%, gold 50%, var(--color-dark-gold));
                background-size: 200%;
                background-clip: border-box;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-transform: uppercase;
                /*border-left: 1px black solid;*/
                font-weight: lighter;
                transition: all 0.25s cubic-bezier(.08,.82,.17,1);
            }

            :is(header, footer) a:hover {
                background-position-x: right;
            }


main {
    text-align: center;
    height: 1000px;
}

footer {
    height: 4rem;
    display: flex;
    padding: 0.5rem 0rem;
    flex-direction: column;
    background-image: url("/images/Plan-It-gradient.png");
    background-position: bottom;
    background-attachment: unset;
    text-align: center;
}

    footer > :is(#footer-links, #footer-details) {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

        footer > :is(#footer-links, #footer-details) > * {
            margin-inline: 0.5rem;
        }

    footer > #footer-details {
        font-size: 1rem;
    }


.logo {
	height: 100%;
	margin-inline: 0.5rem;
}

.title {
	text-transform: uppercase;
	background: -webkit-linear-gradient(0deg, gold, yellow, grey, white, gold);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.5rem;
	text-decoration: none;
}

.to-right {
	margin-left: auto;
}


@media screen and (max-width: 600px) {
    header > #secondary-header > #header-links {
        justify-content: space-evenly;
    }
}
